<style>
*{margin: auto; }

body{background-color: rgb(225, 233, 236);} 
body{background-image:url(https://img.freepik.com/vector-gratis/conjunto-logotipos-criptomonedas-populares_69286-369.jpg);}
a {background-color: rgb(247, 247, 247);} 
h1{background-color: beige;}
h2{background-color: beige;}
p{background-color: white;text-align: center;}
section{background-color: white; image-orientation: center;text-align: center;}
h2{text-align: center;}
h1{text-align: center;}
.mr {text-align: center;image-orientation: center;}